<template>
  <h1 class="title">
    {{ text }}
  </h1>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  props: {
    text: String
  }
})
export default class MyTitle extends Vue { }
</script>

<style>
</style>
